:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  scrollbar-width: thin;
  scrollbar-color: #A300CC #520066;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #520066;
}

::-webkit-scrollbar-thumb {
  background-color: #A300CC;
}

.fade-in {
  animation: fadeInAnimation ease 2s;
  animation-fill-mode: forwards;
}

.fade-out {
  animation: fadeOutAnimation ease 0.5s;
}

.fade-out-delayed {
  animation: fadeOutAnimation ease 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
}